[submodule "certs/CarbonCopy"]
	path = certs/CarbonCopy
	url = https://github.com/A1S0N/CarbonCopy.git
[submodule "certs/crypto/CyberChef"]
	path = certs/crypto/CyberChef
	url = https://github.com/gchq/CyberChef.git
[submodule "certs/osint/WhatBreach"]
	path = certs/osint/WhatBreach
	url = https://github.com/Ekultek/WhatBreach.git
[submodule "certs/osint/userrecon"]
	path = certs/osint/userrecon
	url = https://github.com/AbirHasan2005/UserRecon.git
[submodule "network/Responder"]
	path = network/Responder
	url = https://github.com/SpiderLabs/Responder.git
[submodule "network/Vxscan"]
	path = network/Vxscan
	url = https://github.com/al0ne/Vxscan.git
[submodule "network/bettercap"]
	path = network/bettercap
	url = https://github.com/bettercap/bettercap.git
[submodule "passwords/JohnTheRipper"]
	path = passwords/JohnTheRipper
	url = https://github.com/openwall/john.git
[submodule "passwords/hashcat"]
	path = passwords/hashcat
	url = https://github.com/hashcat/hashcat.git
[submodule "passwords/hashcat-utils"]
	path = passwords/hashcat-utils
	url = https://github.com/hashcat/hashcat-utils.git
[submodule "passwords/nsa-rules"]
	path = passwords/nsa-rules
	url = https://github.com/NSAKEY/nsa-rules.git
[submodule "web/CMSeek"]
	path = web/CMSeek
	url = https://github.com/Tuhinshubhra/CMSeeK.git
[submodule "web/dirsearch"]
	path = web/dirsearch
	url = https://github.com/maurosoria/dirsearch.git
[submodule "web/dvcs-ripper"]
	path = web/dvcs-ripper
	url = https://github.com/kost/dvcs-ripper.git
[submodule "web/joomscan"]
	path = web/joomscan
	url = https://github.com/OWASP/joomscan.git
[submodule "web/wpscan"]
	path = web/wpscan
	url = https://github.com/wpscanteam/wpscan.git
[submodule "wireless/airgeddon"]
	path = wireless/airgeddon
	url = https://github.com/v1s1t0r1sh3r3/airgeddon.git
[submodule "wireless/hcxdumptool"]
	path = wireless/hcxdumptool
	url = https://github.com/ZerBea/hcxdumptool.git
[submodule "wireless/hcxtools"]
	path = wireless/hcxtools
	url = https://github.com/ZerBea/hcxtools.git
[submodule "wireless/wifite2"]
	path = wireless/wifite2
	url = https://github.com/derv82/wifite2.git
[submodule "web/gobuster"]
	path = web/gobuster
	url = https://github.com/OJ/gobuster.git
[submodule "ldap/impacket"]
	path = ldap/impacket
	url = https://github.com/SecureAuthCorp/impacket.git
[submodule "ldap/kerbrute"]
	path = ldap/kerbrute
	url = https://github.com/TarlogicSecurity/kerbrute.git
[submodule "ldap/KerberosUserEnum"]
	path = ldap/KerberosUserEnum
	url = https://github.com/QAX-A-Team/KerberosUserEnum.git
[submodule "mobile/koroni"]
	path = mobile/koroni
	url = https://github.com/DeepSociety/koroni.git
[submodule "network/sslstrip"]
	path = network/sslstrip
	url = https://github.com/nvlbg/sslstrip.git
[submodule "nfc/proxmark3"]
	path = nfc/proxmark3
	url = https://github.com/RfidResearchGroup/proxmark3.git
[submodule "nfc/mfcuk"]
	path = nfc/mfcuk
	url = https://github.com/nfc-tools/mfcuk.git
[submodule "nfc/mfoc"]
	path = nfc/mfoc
	url = https://github.com/nfc-tools/mfoc.git
[submodule "nfc/mfoc-hardnested"]
	path = nfc/mfoc-hardnested
	url = https://github.com/nfc-tools/mfoc-hardnested.git
[submodule "nfc/DrSchottky-mfcuk"]
	path = nfc/DrSchottky-mfcuk
	url = https://github.com/DrSchottky/mfcuk.git
[submodule "sdr/CubicSDR"]
	path = sdr/CubicSDR
	url = https://github.com/cjcliffe/CubicSDR.git
[submodule "sdr/gps-sdr-sim"]
	path = sdr/gps-sdr-sim
	url = https://github.com/osqzss/gps-sdr-sim.git
[submodule "sdr/IMSI-catcher"]
	path = sdr/IMSI-catcher
	url = https://github.com/Oros42/IMSI-catcher.git
[submodule "nfc/mfdread"]
	path = nfc/mfdread
	url = https://github.com/zhovner/mfdread.git
[submodule "web/nikto"]
	path = web/nikto
	url = https://github.com/sullo/nikto.git
[submodule "osint/dnsrecon"]
	path = osint/dnsrecon
	url = https://github.com/darkoperator/dnsrecon.git
[submodule "privilege-escalation/privilege-escalation-awesome-scripts-suite"]
	path = privilege-escalation/privilege-escalation-awesome-scripts-suite
	url = https://github.com/carlospolop/privilege-escalation-awesome-scripts-suite.git
[submodule "wordlist/SecLists"]
	path = wordlist/SecLists
	url = https://github.com/danielmiessler/SecLists.git
[submodule "osint/theHarvester"]
	path = osint/theHarvester
	url = https://github.com/laramies/theHarvester.git
[submodule "wordlist/cupp"]
	path = wordlist/cupp
	url = https://github.com/Mebus/cupp.git
[submodule "web/cipherscan"]
	path = web/cipherscan
	url = https://github.com/mozilla/cipherscan.git
[submodule "web/ssllabs-scan"]
	path = web/ssllabs-scan
	url = https://github.com/ssllabs/ssllabs-scan.git
[submodule "web/webpwn3r"]
	path = web/webpwn3r
	url = https://github.com/zigoo0/webpwn3r.git
[submodule "osint/Amass"]
	path = osint/Amass
	url = https://github.com/OWASP/Amass.git
[submodule "osint/holehe"]
	path = osint/holehe
	url = https://github.com/megadose/holehe.git
[submodule "network/nmapAutomator"]
	path = network/nmapAutomator
	url = https://github.com/21y4d/nmapAutomator.git
[submodule "web/CrimeFlare"]
	path = web/CrimeFlare
	url = https://github.com/zidansec/CrimeFlare.git
[submodule "web/xsser"]
	path = web/xsser
	url = https://github.com/epsylon/xsser.git
[submodule "web/XSStrike"]
	path = web/XSStrike
	url = https://github.com/s0md3v/XSStrike.git
[submodule "osint/Sublist3r"]
	path = osint/Sublist3r
	url = https://github.com/aboul3la/Sublist3r.git
[submodule "Cheatsheet-God"]
	path = Cheatsheet-God
	url = https://github.com/OlivierLaflamme/Cheatsheet-God.git
[submodule "web/nuclei"]
	path = web/nuclei
	url = https://github.com/projectdiscovery/nuclei.git
[submodule "osint/assetfinder"]
	path = osint/assetfinder
	url = https://github.com/tomnomnom/assetfinder.git
[submodule "web/httprobe"]
	path = web/httprobe
	url = https://github.com/tomnomnom/httprobe.git
[submodule "osint/Subcert"]
	path = osint/Subcert
	url = https://github.com/A3h1nt/Subcert.git
[submodule "web/wfuzz"]
	path = web/wfuzz
	url = https://github.com/xmendez/wfuzz.git
[submodule "web/vaf"]
	path = web/vaf
	url = https://github.com/d4rckh/vaf.git
